.shopping-page{
    width: 100%;
    height: 100%;
    display: flex;
    


    .sp-navbar{
        // border: 1px solid blue;
        width: 500px;
        height: 100%;
        position: fixed;
    }

    .sp-content{
        // border: 1px solid red;
        width: 70vw;
        margin-top: 60px;
        margin-left: 520px;
        display:flex;
        flex-wrap: wrap;

        .sp-c-item{
            color:white;
            width: 250px;
            height: 350px;
            padding: 24px;
            position: relative;
            border-radius: 5px;
            border: 1px solid rgba(165, 165, 165, 0);
            box-shadow: 0px 0px 8px 0px rgba(165, 165, 165, 0);
            transition: border 100ms, box-shadow 500ms;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            // box-sizing: border-box;

            .sp-c-item-add-to-cart-btn{
                position: absolute;
                bottom: 24px;
                right: 24px;
                font-size: 1.5rem;
                cursor: pointer;
                visibility: hidden;
                transition: transform 100ms;
            }
            .sp-c-item-add-to-cart-btn:hover{
                transform: scale(1.2);
            }
            .fa-cart-plus{
                color: rgb(83, 248, 83);
            }

            img{
                object-fit: contain;
                width: 100%;
                height: 150px;
            }
        }

        .sp-c-item::before{
            content : "";
            position: absolute;
            left    : 50px;
            bottom  : -1px;
            height  : 1px;
            width   : 70%;
            border-bottom:1px solid rgba(165, 165, 165, 1);
        }

        .sp-c-item:hover{
            border: 1px solid rgba(165, 165, 165, 1);
            box-shadow: 0px 0px 8px 0px rgba(165, 165, 165, 1);

            .sp-c-item-add-to-cart-btn{
                visibility: visible;
            }
        }
    }
}

